.u-section-1 .u-sheet-1 {
  min-height: 0;
}

.u-section-1 .u-text-1 {
  margin: 150px auto 50px 0;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 560px;
}

.u-section-2 .u-text-1 {
  margin: 20px 140px 0;
}

.u-section-2 .u-video-1 {
  width: 624px;
  height: 351px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 140px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 40px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 375px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 1px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 384px;
  height: 255px;
  margin: 20px 80px 0 101px;
}

.u-section-3 .u-text-1 {
  margin: 9px 80px 0 101px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-video-1 {
  width: 465px;
  height: 261px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 7px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 51px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 51px;
    margin-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-3 .u-video-1 {
    width: 247px;
    height: 139px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 355px;
    height: 236px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-video-1 {
    width: 173px;
    height: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 226px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 45px;
}

.u-section-4 .u-text-1 {
  width: 860px;
  margin: 0 auto 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: auto;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 10px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 387px;
  height: 299px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  width: 387px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-5 .u-image-2 {
  width: 532px;
  height: 383px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 10px 56px -10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 256px;
  }

  .u-section-5 .u-image-2 {
    width: 465px;
    height: 335px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 355px;
    height: 274px;
  }

  .u-section-5 .u-text-1 {
    width: 355px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    width: 355px;
    height: 256px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 245px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 10px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  margin: 17px 80px 0;
}

.u-section-6 .u-image-1 {
  width: 400px;
  height: 299px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 355px;
    height: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 254px;
  }
}