.u-section-1 .u-sheet-1 {
  min-height: 558px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px auto 0;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  width: 540px;
  margin: 30px auto -45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: -565px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-2 .u-image-1 {
  width: 243px;
  height: 162px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 243px;
  height: 162px;
  margin: -162px 0 0 auto;
}

.u-section-2 .u-image-3 {
  width: 243px;
  height: 162px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 243px;
  height: 162px;
  margin: -162px 0 0 auto;
}

.u-section-2 .u-image-5 {
  width: 243px;
  height: 162px;
  margin: -1px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 39px 0 0;
}

.u-section-2 .u-image-6 {
  width: 447px;
  height: 298px;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-2 .u-image-1 {
    width: 198px;
    height: 132px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -132px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 468px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-6 {
    width: 336px;
    height: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 33px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-2 .u-image-6 {
    width: 320px;
    height: 213px;
  }
}