.u-section-1 .u-sheet-1 {
  min-height: 1288px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px auto 0;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  width: 540px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 707px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 255px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  width: 400px;
  height: 267px;
  object-position: 50% 9.65%;
  margin: 35px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 707px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-3 {
  width: 447px;
  height: 361px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 480px;
  height: 339px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-1 .u-image-1 {
    width: 395px;
    height: 252px;
    margin-right: 156px;
  }

  .u-section-1 .u-image-2 {
    width: 395px;
    height: 264px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-image-4 {
    width: 410px;
    height: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 189px;
    margin-right: 72px;
  }

  .u-section-1 .u-image-2 {
    width: 312px;
    height: 198px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 336px;
    height: 271px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 253px;
  }

  .u-section-1 .u-image-4 {
    width: 300px;
    height: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 258px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 239px;
  }
}